<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">
          You are owner of a stream
        </h3>
        <div class="card-body">
          Stream information in this database can only be changed from the owner of the stream. To make
          sure you are the owner, you have to add special HTTP-headers to your stream. (HLS streams are
          currently not supported)
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">
          Main header
        </h3>
        <div class="card-body">
          By default the default http-headers a stream has are only used to extract bitrate and online
          information. To
          enable overriding other information too (name, genre/tags, country,...) you have to set the
          special header
          <a
            href="https://www.stream-meta.info/version_2_headers.html#icy-index-metadata-number"><code>icy-index-metadata</code></a>
          to the value "1".
          <br /><br />
          This will then force radio-browser.info to use the transmitted "name", "genre", "homepage" that
          your
          stream <a href="https://www.stream-meta.info/version_1.html">transmits</a>. These fields should
          already be easily changeable by any audio streaming software.
          <br /><br />
          You can check the information that has been extracted from your stream by searching it on this
          website and clicking it. The detail page
          will show you a list of meta information extracted from your stream in the last 30 days.
          <br /><br />
          From now on every change you make on your stream will automatically be picked up after 24 hours
          by radio-browser.info.
          <br /><br />
          Providing this extra information on your stream will earn you the special badge<br/> <a class="btn btn-xs btn-success m-1" data-toggle="tooltip" data-placement="top" title="Stream provider verified stream information (via header)">Verified</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">
          Other supported headers
        </h3>
        <table class="card-text table table-dark">
          <tr>
            <td>
              <code>icy-main-stream-url</code>
            </td>
            <td>override the main stream url</td>
          </tr>
          <tr>
            <td>
              <code>icy-country-code</code>
            </td>
            <td>override the country code<br />e.g.: AT</td>
          </tr>
          <tr>
            <td>
              <code>icy-country-subdivison-code</code>
            </td>
            <td>override the country subdivision code code (<a href="https://en.wikipedia.org/wiki/ISO_3166-2">ISO 3166-2</a>)<br />e.g.: AT-1</td>
          </tr>
          <tr>
            <td>
              <code>icy-language-codes</code>
            </td>
            <td>override the country subdivision code code (<a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1</a>, <a href="https://en.wikipedia.org/wiki/ISO_639-3">ISO 639-3</a>)<br />e.g.: en,de</td>
          </tr>
          <tr>
            <td>
              <code>icy-logo</code>
            </td>
            <td>override the logo/favicon url<br />e.g.: http://example.com/besticon.png</td>
          </tr>
          <tr>
            <td>
              <code>icy-geo-lat-long</code>
            </td>
            <td>override the latitude and longitude of the stream location on a map<br />e.g.: 12.345,-23.456</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">
          Example: Icecast2 config
        </h3>
        <div class="card-body">
          <p class="card-text">
            Full documentation at <a
              href="https://icecast.org/docs/icecast-2.4.1/config-file.html#mountsettings">icecast.org</a>
          </p>
          <pre class="card-text text-white"><code>
&lt;mount type=&quot;normal&quot;&gt;
  &lt;mount-name&gt;/teststream&lt;/mount-name&gt;

  &lt;http-headers&gt;
      &lt;header name=&quot;icy-index-metadata&quot; value=&quot;1&quot; /&gt;
      &lt;header name=&quot;icy-logo&quot; value=&quot;https://example.com/besticon.png&quot; /&gt;
      &lt;header name=&quot;icy-country-code&quot; value=&quot;at&quot; /&gt;
      &lt;header name=&quot;icy-country-subdivison-code&quot; value=&quot;at-1&quot; /&gt;
      &lt;header name=&quot;icy-language-codes&quot; value=&quot;en,de&quot; /&gt;
      &lt;header name=&quot;icy-main-stream-url&quot; value=&quot;http://example.com:8000/teststream&quot; /&gt;
      &lt;header name=&quot;icy-geo-lat-long&quot; value=&quot;12.345,-23.456&quot; /&gt;
  &lt;/http-headers&gt;
&lt;/mount&gt;
</code></pre>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">
          Example: Nginx config
        </h3>
        <div class="card-body">
          <p class="card-text">
            Full documentation at <a
              href="http://nginx.org/en/docs/http/ngx_http_headers_module.html#add_header">nginx.org</a>
          </p>
          <pre class="card-text text-white"><code>
server &#x7B;
  ...
  location /teststream &#x7B;
    ...
    add_header icy-index-metadata &quot;1&quot;;
    add_header icy-logo &quot;https://example.com/besticon.png&quot;;
    add_header icy-country-code &quot;at&quot;;
    add_header icy-country-subdivison-code &quot;at-1&quot;;
    add_header icy-language-codes &quot;en,de&quot;;
    add_header icy-main-stream-url &quot;http://example.com:8000/teststream&quot;;
    add_header icy-geo-lat-long &quot;12.345,-23.456&quot;;
  &#x7D;
&#x7D;
</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
