<nav class="navbar navbar-expand-lg navbar-dark nav-pills bg-dark mb-3">
  <a class="navbar-brand" [routerLink]="'.'" (click)="isMenuCollapsed=true">RadioBrowser</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/faq'" (click)="isMenuCollapsed=true">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/users'" (click)="isMenuCollapsed=true">Apps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/owners'" (click)="isMenuCollapsed=true">Owners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/map'" (click)="isMenuCollapsed=true">GeoMap</a>
      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>By popularity</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="gotoverified();isMenuCollapsed=true">Verified</button>
          <button ngbDropdownItem (click)="gotogeo();isMenuCollapsed=true">Geo</button>
          <button ngbDropdownItem (click)="gototopclick();isMenuCollapsed=true">By clicks</button>
          <button ngbDropdownItem (click)="gototopvote();isMenuCollapsed=true">By votes</button>
          <button ngbDropdownItem (click)="gotolastclick();isMenuCollapsed=true">Lately played</button>
          <button ngbDropdownItem (click)="gotolastchanged();isMenuCollapsed=true">Lately changed</button>
        </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>By category</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem routerLink="/countries" (click)="isMenuCollapsed=true">By country</button>
          <button ngbDropdownItem routerLink="/languages" (click)="isMenuCollapsed=true">By language</button>
          <button ngbDropdownItem routerLink="/tags" (click)="isMenuCollapsed=true">By tag</button>
          <button ngbDropdownItem routerLink="/codecs" (click)="isMenuCollapsed=true">By codec</button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/add'" (click)="isMenuCollapsed=true">New station</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://api.radio-browser.info" (click)="isMenuCollapsed=true" target="_blank">Developer API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gitlab.com/radiobrowser/radiobrowser-web-angular"
          (click)="isMenuCollapsed=true" target="_blank">Fork</a>
      </li>
    </ul>
    <form class="d-flex">
      <input id="typeahead-http" type="text" class="form-control"
      [ngbTypeahead]="search" (selectItem)="selected($event)" placeholder="search.."
      [resultTemplate]="rt" [inputFormatter]="formatter" />
    </form>
  </div>
</nav>

<div class="content" role="main">
</div>

<router-outlet></router-outlet>

<app-player></app-player>

<ng-template #rt let-r="result" let-t="term">
  <span>{{r.displayName}}</span>
  <span>{{r.operator}}</span>
  <ngb-highlight [result]="r.searchValue" [term]="t"></ngb-highlight>
  <span *ngIf="r.displayValue">({{r.displayValue}})</span>
</ng-template>
