.searchoption {
  margin:5px;
}

.searchoption .name {
  color:white;
  background-color:#138496;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.searchoption .operator {
  color:white;
  background-color:#138496;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchoption .value {
  color:white;
  background-color:#138496;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchoption .remove {
  background-color: darkred;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.searchoption .toggle {
  background-color: #138496;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.searchoption .unremovable {
  background-color: #138496;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 10px;
}
